@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100;300;400;700&family=Noto+Serif+Display:wght@100;300;400;700&display=swap');

:root {
   /* Transitions */
   --transition: transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1),
   transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
} 


html {
  background-color: hsl(0, 0%, 100%);
}

body {
  font-family: 'Noto Sans Display', sans-serif;
}

/* Utilities */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

/* Contact Banner Starts Here */
.contact-banner {
  flex-direction: column;
  background-color: hsla(168, 100%, 25%, 1);
  color: hsl(0, 0%, 100%);
  padding: 0.5rem 0;
  font-size: 0.875rem;
  line-height: 1.125rem;
  border-bottom: 2px solid #fff;
}
/* Contact Banner Ends Here */

/* Header Starts Here */

.navbar {
  justify-content: space-between;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
 
}
.logo {
  width: 150px;
  padding-inline-start: 1rem;
}

.nav-icon {
  font-size: 1.5rem;
}

.nav-menu {
  display: none;
  padding-inline-end: 1rem;
}

.nav-display {
  display: flex;
}

.nav-items li {
  padding-inline-end: 2rem;
}
.nav-items li:hover {
  color: hsla(168, 100%, 25%, 1);
  cursor: pointer;
  transform: scale(1.05);
}

.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 75px;
  right: 15px;
  width: 50px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 1s ease-in-out;
}

.menuIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2px;
  width: 24px;
  background: #000;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
  margin-bottom: 5px;
}

/* Menu Button Animation */
.menu-btn.open .line2 {
  transform: translateX(-40px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .line1 {
  position: absolute;
  transform: rotate(45deg) rotate(360deg);
}

.menu-btn.open .line3 {
  position: absolute;
  transform: rotate(-45deg) rotate(360deg);
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
  }

  .nav-items {
    width: 100vw;
    background: var(navBkgdCl);
    height: 0;
  }
  .nav-items.expand {
    animation: navExpand 1250ms;
    animation-fill-mode: forwards;
    transition: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  }

  @keyframes navExpand {
    0% {
      height: 0;
      display: initial;
    }

    100% {
      height: 12rem;
      display: none;
    }
  }

  .nav-items.collapse {
    animation: navCollapse 1250ms;
    transition: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  }

  @keyframes navCollapse {
    0% {
      display: initial;
      height: 12rem;
    }

    100% {
      height: 0;
      display: none;
    }
  }

  .nav-items ul {
    justify-content: flex-start;
    flex-direction: column;
  }
  .nav-items li {
    justify-content: flex-start;
    border-bottom: 1px black solid;
    margin-block-start: 1.375rem;
    margin-inline-start: 0.5rem;
    font-family: "Noto Sans Display", sans-serif;
    font-size: 1.375rem;
    line-height: 2rem;
    color: #033959;
  }
  .nav-items li:hover {
    transform: scale(1);
  }
  .nav-items a {
    display: block;
  }
  .menu-toggle {
    right: 10px;
  }
}

@media (min-width: 769px) {
  .nav-items {
    display: initial;
  }
  .menu-btn {
    display: none;
  }
}
/* Header Ends Here */

/* Hero Section Starts Here */
.hero-main {
  position: relative;
  width: 100vw;
}

.hero-image-mobile {
  display: block;
  width: 100%;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
}
.hero-title {
  position: relative;
  top: 1em;
  left: 0.5em;
  font-size: 2.25em;
  line-height: 1.5em;
  font-family: 'Noto Serif Display', sans-serif;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

/* Hero Section End Here */

/* About Section Starts Here */
.about-wrapper {
  color: #033959;
  margin-block-start: 1.875rem;
  padding: 2rem;
}

.about-wrapper h2 {
  font-family: 'Noto Serif Display', sans-serif;
  font-size: 2.375rem;
  margin-block-end: 1.875rem;
}

.about-wrapper p {
  padding-block-start: 1rem;
  font-size: 1.25em;
  line-height: 2rem;
}

.text-highlight {
  font-weight: 700;
  font-size: 1.875rem;
  color: #007E65;
}
.hero-headline {
  position: inline;
  left: 2rem;
  top: 4rem;
}
/* About Section Ends Here */

/* Services Section Starts Here */
.services-wrapper {
  background-color: #008066;
  padding: 2rem;
}
.services-wrapper h2 {
  font-family: 'Noto Serif Display', sans-serif;
  font-size: 2.375rem;
  font-weight: 400;
  margin-block-end: 1.875rem;
  color: #ffffff;
}

.services-card {
  padding: 1rem;
  margin-block-end: 1.875rem;
  background: rgba(0, 0, 0, 0.1);
  color:hsl(0, 0%, 100%);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.services-card h3 {
  font-size: 1.25rem;
  font-weight: 400;
  padding-block-end: 1rem;
  text-align: center;
  letter-spacing: 0.08em;
}

.services-card p {
  font-size: 1.25em;
  line-height: 2rem;
}

/* Stewardship */
.stewardship-options {
  margin-block-start: 1rem;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.stewardship-description.openDescription{
  display: none;
}

.stewardship-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stewardship-options h4 {
  font-size: 1.125em;
  
  margin-block-start: 0.3125em;
  margin-block-end: 0.3125em;
}

.stewardship-heading {
  font-weight: 400;
  font-family: 'Noto Serif Display', serif;
}

.stewardship-btn {
  padding: 0.25em;
  font-weight: 700;
}

.stewardship-options p {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 300;
  margin-block-start: 0.5em;
  margin-block-end: 1em;
  color: #fff;
}
/* Services Section Ends Here */

/* Case Studies Section Starts Here */
.case-studies-wrapper {
  background-color: #fdfdfd;
  height: 200px;
}
/* Case Studies Section Starts Here */

/* Footer Starts Here */
/* Footer */

.social-links {
  flex-direction: column;
  background-color: #141517;
  color: #fff;
  font-size: 0.75rem; 
  padding-block-end: 1rem;
}

.social-links ul li {
  padding: 0 0.5rem;
  margin: 0;
}

.fa-brands {
  font-size: 1rem;
  padding: 0.6rem;
}
.fa-brands:hover {
  font-size: 1rem;
  transform: scale(1.2);
  color: var(--homeBkgdCl);
}

.copyright {
  flex-direction: column;
  align-self: center;
}
/* Footer Ends Here */


/* Zero_height for Nav Bar Anchor Links */
.zero-height {
  height: 0;
  display: none;
}